<html>
<head><title>Register a participant</title>
</head>
<body>
<form method="POST">
<label for="participant.id">Id:</label>
<input type="text" name="participant.id">
<label for="participant.firstName">First name:</label>
<input type="text" name="participant.firstName">
<label for="participant.familyName">Last name:</label>
<input type="text" name="participant.familyName">
<label for="participant.dateOfBirth">Date of birth:</label>
<input type="text" name="participant.dateOfBirth">
<label for="participant.placeOfBirth">Place of birth:</label>
<input type="text" name="participant.placeOfBirth">
<input type="submit">
</form>
</body>
</html>
